/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Set background color and text color */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 20px;
    line-height: 1.6;
}

/* Style the header */
h1 {
    text-align: center;
    margin: 20px 0;
}

/* Style the main content sections */
div {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style heading tags */
h2 {
    margin-bottom: 10px;
    color: #007bff;
}

/* Style paragraph text */
p {
    margin-bottom: 15px;
}

/* Style the footer */
footer {
    text-align: center;
    margin-top: 50px;
}

/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.return-home {
    display: block;
    text-decoration: none;
    color: #3366cc; /* Change color as desired */
    margin-top: 20px; /* Adjust the margin as needed */
    font-size: 16px; /* Adjust font size as needed */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -30px;
   
}
